body{
    background-color: #a2bcdb;
    font-size: 25px;
    color: #c3d8f3;
}

.poemTitle{
    display: flex;
    justify-content: center;
}

.poemTitle span{
    color:#c3d8f3;
    text-shadow: 0px 0px 0px #c3d8f3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes one {
    50%{text-shadow: 0px 0px 50px;
    opacity: 0;
    }
}


.poem{
    display: flex;
    justify-content: center;
    padding: 100px;
    border: 50px;
    margin: 50px;
    letter-spacing: 5px;
}

.gridPoem{
    display: inline-grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 75px;
    padding-left: 300px;
    padding-right: 250px;
}

.floatingText{
    display: flex;
}

.floatingText span{
    animation: floaty 2s ease-in-out infinite;
}
@keyframes floaty {
    0%
    {
        transform: translateY(30px);
    }
    50%
    {
        transform: translateY(-30px);
    }
    100%
    {
        transform: translateY(30px);
    }
}

.ShadowFloatingPoem span{
    text-shadow: 0 -60px 0 #c3d8f3,
                 0 60px 0 #bed3ef,
                 0 120px 0 #b7cfea,
                 0 180px 0 #b2cae6,
                 0 240px 0 #afc8e3,
                 0 300px 0 #acc5e1,
                 0 360px 0 #a9c3df;
    animation: animate 2s ease-in-out infinite;
}
@keyframes animate {
    0%
    {
        transform: translateY(30px);
    }
    50%
    {
        transform: translateY(-30px);
    }
    100%
    {
        transform: translateY(30px);
    }
}